profiles {
  psmn {
    charliecloud.enabled = true
    charliecloud.cacheDir = "/Xnfs/abc/charliecloud"
    charliecloud.readOnlyInputs = true
    charliecloud.runOptions = "--bind /scratch:/scratch --bind /Xnfs:/Xnfs --bind /home:/home"
    process{
      errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
      maxRetries = 0
      withLabel: mono_thread {
        executor = "slurm"
        cpus = 1
        memory = "20GB"
        time = "180h"
        clusterOptions = "--partition=Cascade-flix"
      }
      withLabel: multi_thread {
        executor = "slurm"
        cpus = 32
        memory = "180GB"
        time = "48h"
        clusterOptions = "--partition=Lake"
      }
    }
  }
  docker {
    docker.temp = 'auto'
    docker.enabled = true
    process {
      withLabel: mono_thread {
        cpus = 1
      }
      withLabel: multi_thread {
        cpus = 4
      }
    }
  }
}
